{% extends 'deliverables_base.html' %}

{% block deliverablesImage %}
<img src="{{ url_for('static', filename='image/works/tokaionair.webp') }}" alt="東海オンエア｜とうかいおんえあ｜TokaiOnAir｜toukaionair｜てつや｜しばゆー｜りょう｜としみつ｜ゆめまる｜虫眼鏡｜TETSUYA｜SHIBAYU｜RYO｜TOSHIMITSU｜YUMEMARU｜MUSHIMEGANE｜ファンサイト｜FanSite">
{% endblock %}

{% block deliverablesTitle %}
<h2 class="deliverablesTitle">TokaiOnAir</h2>
{% endblock %}

{% block deliverablesTag %}
<p>自主制作</p>
<p>ファンサイト</p>
{% endblock %}

{% block overviewBlockScope %}
<p>SiteDesign</p>
<p>GraphicDesign</p>
<p>Coding</p>
{% endblock %}

{% block overviewBlockClient %}
<p>-</p>
{% endblock %}

{% block overviewBlockSite %}
<a href="https://TokaiOnAir.f5.si/" target="_blank">https://TokaiOnAir.f5.si/</a>
{% endblock %}

{% block overviewBlockTechnology %}
<p>Figma</p>
<p>html</p>
<p>css</p>
<p>javascript</p>
{% endblock %}

{% block explanation %}
<p>
    自身が好きなYouTuberさんである「東海オンエア」さんのプロフィール等をまとめ、見やすいシングルページデザインのサイトを目指し、作成いたしました。<br>
    シングルページサイトのため、ルーティング設定を要しないため、作成速度を上げるため、html, css, javascriptの基本的なもののみで素早く仕上げました。
    SNS-X（旧Twitter）をサイト内で閲覧できるように行い投稿される最新の情報を素早く確認できるようにいたしました。
</p>
{% endblock %}