{% extends 'deliverables_base.html' %}

{% block deliverablesImage %}
<img src="{{ url_for('static', filename='image/works/tokinokane.webp') }}" alt="受験勉強｜試験勉強｜勉強｜モチベーション維持｜モチベーション向上｜時給｜ウェブアプリ｜WebApp">

{% block deliverablesTitle %}
<h2 class="deliverablesTitle">TokiNoKane</h2>
{% endblock %}

{% block deliverablesTag %}
<p>自主制作</p>
<p>ウェブアプリ</p>
{% endblock %}

{% block overviewBlockScope %}
<p>SiteDesign</p>
<p>GraphicDesign</p>
<p>Coding</p>
{% endblock %}

{% block overviewBlockClient %}
<p>-</p>
{% endblock %}

{% block overviewBlockSite %}
<a href="https://TokiNoKane.f5.si/" target="_blank">https://TokiNoKane.f5.si/</a>
{% endblock %}

{% block overviewBlockTechnology %}
<p>Figma</p>
<p>html</p>
<p>css</p>
<p>javascript</p>
{% endblock %}

{% block explanation %}
<p>
</p>
{% endblock %}